<app-top-banner></app-top-banner>
<section class="services-section container-fluid py-5">
  <h2 class="text-center fw-bold mb-3" style="color:#5b2cae;">Additional Services offered</h2>
  <p class="text-center mb-5">Our experts will work with you to create a plan that is tailored to your specific needs, ensuring that your living spaces are functional, comfortable, and aesthetically pleasing. Just need one room or a few rooms organised? Our room-by-room decluttering and organising service is perfect for anyone who wants to transform their living spaces, one room at a time.</p>

  <div class="row g-4">
    <div class="col-md-4 col-sm-6" *ngFor="let service of services">
      <div class="service-card">
        <div class="service-img-wrapper">
          <img [src]="service.image" [alt]="service.title" class="img-fluid">
        </div>
        <div class="service-title">{{ service.title }}</div>
      </div>
    </div>
  </div>
</section>