<app-top-banner></app-top-banner>
<div class="faq">
    <div class="faq-heading">
        <h2>FAQs</h2>
    </div>
    <div class="faq-accordion-body">
        <div class="accordion" id="accordionExample">

            <!-- Item 1 -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        What Area Do You Cover?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        We are predominantly Kent based and a large proportion of our work is in Kent. We do cover the surrounding areas and can cover further afield if needed.                    </div>
                </div>
            </div>

            <!-- Item 2 -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        How Much Do You Charge?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Prices will depend on what work is required. We can price her hour, per day or per room and will also price the most cost effective option for the customer. Our rates are also discounted so the more time booked with an organiser, the cheaper the rate becomes.
                    </div>
                </div>
            </div>

            <!-- Item 3 -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Do You Remove Rubbish?
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Yes, we will remove rubbish up to a car load or half a transit van full dependant on what method of transport the organiser is using. That is included in the price. If you require additional rubbish or waste to be removed, this can be done at an additional cost. We are fully licenced and insured to carry and dispose of waste so you can be assured any waste will be disposed of in the correct way.

                    </div>
                </div>
            </div>

            <!-- Item 4 -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Do You Help With Charity Drop Offs?
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Yes, we can help with this and the organiser will take away bags for charity to either a nominated charity of your choice or they will drop the bags at a local charity to where they are based.
                    </div>
                </div>
            </div>

            <!-- Item 5 -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        How does the decluttering process work?
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Whilst the organisers will undertake the work to reorganise the spaces, the decluttering process will require some input from you in order to decide items that are staying and items that can be disposed of. If this is not possible, the organiser can undertake the decluttering process and will use methods such as identifying multiple items, worn items, unused items which they consider could be disposed of. These items will be bagged up in order for you to check through and ensure you are happy for them to be disposed of which the organiser will then take away.
                    </div>
                </div>
            </div>

            <!-- Item 6 -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        How long will I need?
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        There is no one size fits all and this can depend on a number of variables such as the volume of clutter, how many rooms require organising and the end result you desire. The organisers will work as quickly and efficiently as possible to achieve the results you want. Free video consultations are offered to give you an idea on how much time you would require or the majority of customers are happy to send photos of the rooms they require to be organised. We will be able to give you an indication from photos how long we think you will need.
                    </div>
                </div>
            </div>

            <!-- Item 7 -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        Do I need anything to prepare for the process?
                    </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        This will be discussed with you prior to the date your organisers are due to come. We will assess your current storage options however we may suggest it would be beneficial buying items such as storage boxes to help with the organising process and to help keep items organised.
                    </div>
                </div>
            </div>

            <!-- Item 8 -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        Will you make me throw stuff away?
                    </button>
                </h2>
                <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        No, we would never pressurise you into throwing anything away. You are in control and make the decisions. We can offer different perspectives and will gently challenge you whether items are still needed/wanted however we try to make the process as fun and stress free as possible for you.
                    </div>
                </div>
            </div>

            <!-- Item 9 -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                        Will I get a male or female organiser?
                    </button>
                </h2>
                <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        This really depends on the availability of the organisers and the areas they cover however all organisers have been trained to an exceptional standard to be able to carry out the work. If you have a preference for a male or female or a particular organiser who has previously carried out work for you, please make this request on booking and we will do our best to facilitate any requests you make.

                    </div>
                </div>
            </div>

            <!-- Item 10 -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                        What professional bodies do you belong to?
                    </button>
                </h2>
                <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        We are a member of APDO (Association of Professional Declutterers and Organisers). APDO make it easy for people throughout the UK to find a professional organiser and promote the benefits of a clutter-free, organised lifestyle.<br>We are also registered under the Information Commissioner’s Office to ensure adherence to data protection laws.<br>We are also registered with the Environment Agency to carry and dispose of waste under the licence number CBDU494939.
                    </div>
                </div>
            </div>

            <!-- Item 11 -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                        Do you charge travel costs?
                    </button>
                </h2>
                <div id="collapseEleven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                       No. Some of our organisers cover large geographical areas however the organisers will complete a number of projects in the same geographical areas over a number of days meaning we don’t charge any travel costs. This helps keep costs down for our customers.

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
