<p-carousel 
  [value]="products" 
  [numVisible]="1" 
  [numScroll]="1" 
  [circular]="true" 
  [autoplayInterval]="10000"
  [showIndicators]="true" 
  [showNavigators]="false"
>
  <ng-template let-product pTemplate="item">
    <div class="carousel-slide">
      <img [src]="product.image" [alt]="product.name" />
      <div class="overlay"></div>
      <div class="carousel-center">
        <h2 class="heading">Professional Organising</h2>
        <p class="subheading">in your Home</p>
        <button class="cta-btn">Contact Us Today</button>
      </div>
    </div>
  </ng-template>
</p-carousel>
