<div class="footer-outer">
    <div class="footer container">
        <div class="footer-blocks">
            <div class=" first-block">
                <div class="logo-div">
                    <img class="logo" src="../../../assets/logo.png" alt="">
                </div>
                <div>
                    <p>
                        Welcome to Clutter-b-gone – a professional organising service here to help you say goodbye to clutter and hello to your happy place.
                    </p>
                </div>
                <div>
                    <a href="">
                        <span>
                            <i class="fa-brands fa-facebook-f"></i>
                        </span>
                    </a>
                    <a href="">
                        <span>
                            <i class="fa-brands fa-twitter"></i>
                        </span>
                    </a>
                    <a href="">
                        <span>
                            <i class="fa-brands fa-youtube"></i>
                        </span>
                    </a>
                    <a href="">
                        <span>
                            <i class="fa-brands fa-instagram"></i>
                        </span>
                    </a>
                    <a href="">
                        <span>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-blocks">
            <div class="second-block">
                <div>
                    <h2>QUICK LINKS</h2>
                </div>
                <div>
                    <div class="footer-quick-links">
                        <a href="">Home</a>
                    </div>
                    <div class="footer-quick-links">
                        <a href="">About Us</a>
                    </div>
                    <div class="footer-quick-links">
                        <a href="">Meet The Team</a>
                    </div>
                    <div class="footer-quick-links">
                        <a href="">Pricing</a>
                    </div>
                    <div class="footer-quick-links">
                        <a href="">Services</a>
                    </div>
                    <div class="footer-quick-links">
                        <a href="">Gallery</a>
                    </div>
                    <div class="footer-quick-links">
                        <a href="">FAQs</a>
                    </div>
                    <div class="footer-quick-links">
                        <a href="">Testimonials</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-blocks ">
            <div class="third-block">
                <div>
                    <h2>USEFUL LINKS</h2>
                </div>
                <div>
                    <div class="footer-quick-links">
                        <a href="">Meet The Team</a>
                    </div>
                    <div class="footer-quick-links">
                        <a href="">Terms & Conditions</a>
                    </div>
                    <div class="footer-quick-links">
                        <a href="">Privacy Notice</a>
                    </div>
                    <div class="footer-quick-links">
                        <a href="">Contact Us</a>
                    </div>
                    <div class="footer-quick-links">
                        <a href="">FAQs</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-blocks ">
            <div class="fourth-block">
                <div>
                    <h2>CONNECT WITH US</h2>
                </div>
                <div>
                    <div class="details">
                        <span class="details-icons">
                            <i class="fa-solid fa-location-dot"></i>
                        </span>
                        <span class="footer-quick-links last-links">
                            Kent and surrounding areas
                        </span>
                    </div>
                    <div>
                        <a href="" class="details">
                            <span class="details-icons">
                                <i class="fa-solid fa-envelope"></i>
                            </span>
                            <span class="last-links footer-quick-links">info&commat;clutter-b-gone.com</span>
                        </a>
                    </div>
                    <div>
                        <a href="" class="details">
                            <span class="details-icons">
                                <i class="fa-solid fa-phone"></i>
                            </span>
                            <span class="last-links footer-quick-links">01634564750</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-end">
    <div>
        <h2>© COPYRIGHT 2025 ALL RIGHTS RESERVED | CLUTTER BE GONE |</h2>
    </div>
</div>
