<!-- <swiper
  [loop]="swiperConfig.loop"
  [autoplay]="swiperConfig.autoplay"
  [slidesPerView]="swiperConfig.slidesPerView"
  [spaceBetween]="swiperConfig.spaceBetween"
  [pagination]="swiperConfig.pagination"
  class="testimonials-swiper"
>
  <ng-template swiperSlide *ngFor="let t of testimonials">
    <div class="testimonial-card">
      <img [src]="t.img" alt="{{ t.name }}" class="testimonial-img" />
      <p class="testimonial-text">"{{ t.text }}"</p>
      <h4 class="testimonial-name">{{ t.name }}</h4>
      <span class="testimonial-role">{{ t.role }}</span>
    </div>
  </ng-template>
</swiper> -->
